.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem; /* top-bottom padding remains 2rem, right-left padding is decreased to 1rem */
  background-color: white; 
  border-top: 1px solid #ccc; /* adds a border line to the top of the section */
}


.contact-form, .contact-details {
  flex: 1;
  max-width: 500px; /* limiting the maximum width */
  margin: auto; /* auto margin will center the section */
}

.contact-details {
  flex: 1;
  max-width: 400px;
  margin: auto;
  direction: rtl; /* Right-to-left text direction */
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem; /* more space between fields */
  flex: 1;
}

.form-group:first-child {
  margin-right: 1rem; /* added space between the name and phone number fields */
}

.form-group input,
.form-group textarea {
  padding: 15px; /* more padding inside fields */
  border-radius: 10px; 
  border: 1px solid #ccc;
  font-weight: 600; /* darker placeholder text */
  text-align: right;
  font-size: 1rem; /* larger placeholder text */
}

.form-group textarea {
  resize: vertical; /* allows vertical resizing only */
}

.form-group input[type="submit"] {
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px; /* more padding inside submit button */
  font-size: 1rem; /* larger submit button text */
  text-align: center; /* center the text on the button */
}

.form-group textarea {
  resize: vertical; /* allows vertical resizing only */
  max-height: 150px; /* limit the maximum height of the textarea */
}

